.container{


    .header{

        .nav{
            display: flex;
            justify-content: space-between;
            background-color: var(--primary-color);
            text-align: center;
            padding: 26px 80px;
            
        }
    }
}
