:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;
  --primary-color:#6B3CC9;
  --secondary-color:#F28D35;
  --analogous-color1: #6A44F2;
  --analogous-color2: #1CBDDD;
  --triadic-color1: #52378C;
  --dark-color:#78BF91;

}
